name: Test

on:
    pull_request:
    push:
        branches: [main]
    workflow_dispatch:

jobs:
    banned-command:
        name: Check for banned commands
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5.0.1
            - run: ./tests/banned-commands.sh

    install:
        name: Test install latest
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                    - os: ubuntu-latest
                      container: alpine:latest
                    - os: macos-latest
        runs-on: ${{ matrix.os }}
        container: ${{ matrix.container }}
        steps:
            - uses: actions/checkout@v5.0.1
            - name: extract tool-name
              id: tool-name
              run: |
                  source lib/utils
                  echo "tool_name=$TOOL_NAME" >> $GITHUB_OUTPUT
            - name: Test install
              uses: asdf-vm/actions/plugin-test@v4.0.1
              with:
                  plugin: ${{ steps.tool-name.outputs.tool_name }}
                  command: ${{ steps.tool-name.outputs.tool_name }} --version
