name: Test

on:
    pull_request:
    push:
        branches: [main]
    workflow_dispatch:

jobs:
    banned-command:
        name: Check for banned commands
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5.0.1
            - run: ./tests/banned-commands.sh

    install:
        name: Test install latest
        strategy:
            fail-fast: false
            matrix:
                include:
                    - os: ubuntu-latest
                    - os: ubuntu-latest
                      container: alpine:latest
                    - os: macos-latest
        runs-on: ${{ matrix.os }}
        container: ${{ matrix.container }}
        steps:
            - uses: actions/checkout@v5.0.1
            - if: ${{ matrix.container == 'alpine:latest' }}
              run: apk add --no-cache bash git
            - if: ${{ matrix.os == 'ubuntu-latest' && !matrix.container }}
              run: sudo apt install --update -y git curl
            - name: extract tool-name
              id: tool-name
              shell: bash
              run: |
                  source lib/utils
                  echo "tool_name=$TOOL_NAME" >> $GITHUB_OUTPUT
            - name: Test install
              uses: asdf-vm/actions/plugin-test@v3.0.2 # v4.0.1 fails: <https://github.com/asdf-vm/actions/issues/609>
              with:
                  command: ${{ steps.tool-name.outputs.tool_name }} --version
