name: Test

on:
    pull_request:
    push:
        branches: [main]
    workflow_dispatch:

jobs:
    banned-command:
        name: Check for banned commands
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4.1.7
            - run: ./tests/banned-commands.sh

    install:
        name: Try installing latest
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]
        steps:
            - uses: actions/checkout@v4.1.7
            - uses: asdf-vm/actions/setup@v4
            - name: extract tool-name
              id: tool-name
              run: |
                  source lib/utils
                  echo "tool_name=$TOOL_NAME" >> $GITHUB_OUTPUT
            - name: Add local plugin
              run: asdf plugin add ${{ steps.tool-name.outputs.tool_name }} .
            - name: Install latest
              run: asdf install ${{ steps.tool-name.outputs.tool_name }} latest
